:root {
    --main-color: #12cf3d;
    --body-bg: #181616;
    --box-bg: #221f1f;
    --text-color: #ffffff;

    --nav-height: 60px;
    --space-top: 30px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

@keyframes topdown {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }
  
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }


body {
    font-family: "Cairo", sans-serif;
    background-color: var(--body-bg);
    color: var(--text-color);
    padding-top: var(--nav-height);
    animation: topdown 1000ms 500ms backwards;
}

a {
    text-decoration: none;
    color: unset;
}

del{
    color: var(--main-color);
}
img {
    max-width: 100%;
}

.main-color {
    color: var(--main-color);
}

.container {
    max-width: 1920px;
    padding: 0 40px;
    margin: auto;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

/*Mega Menu*/
.mega-menu {
    background-color: #333;
    padding: 10px;
  }
  
  .mega-menu ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  .mega-menu li {
    position: relative;
    padding: 10px;
  }
  
  .mega-menu a {
    color: #fff;
    text-decoration: none;
  }
  
  .mega-menu .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    width: 200px;
    padding: 10px;
    display: none;
  }
  
  .mega-menu li:hover .submenu {
    display: block;
  }
  
  .mega-menu .submenu ul {
    list-style: none;
    padding: 0;
  }
  
  .mega-menu .submenu li {
    padding: 5px;
  }
  
  .mega-menu .submenu a {
    color: #fff;
    text-decoration: none;
  }
  
  .mega-menu .submenu a:hover {
    text-decoration: underline;
  }

  /*Nav*/

.nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #000000;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    height: var(--nav-height);
}

.nav a {
    color: var(--text-color);
}

.logo {
    font-size: 2rem;
    font-weight: 900;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.nav-menu li ~ li {
    margin-left: 30px;
}

.nav-menu a {
    text-transform: uppercase;
    font-weight: 700;
}

.nav-menu a:hover {
    color: var(--main-color);
}

.nav-menu a.btn:hover,
a.logo:hover,
a.movie-item:hover {
    color: unset;
}

.btn {
    color: #ffffff;
    padding: 0.25rem 1.5rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    display: inline-flex;
    position: relative;
    align-items: center;
}

.btn-hover::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 66%;
    height: 100%;
    background-color: var(--main-color);
    transition: 0.3s ease-in-out;
}

.btn-hover:hover::before {
    width: 100%;
}

.btn i,
.btn span {
    z-index: 1;
}

.btn i {
    margin-right: 1rem;
}

.hamburger-menu {
    --size: 30px;
    height: var(--size);
    width: var(--size);
    cursor: pointer;
    z-index: 101;
    position: relative;
    display: none;
    align-items: center;
}

.hamburger {
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    width: var(--size);
    height: 3px;
    border-radius: 0.5rem;
    background-color: var(--text-color);
    transition: 0.4s;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    left: 0;
}

.hamburger::before {
    top: -10px;
}

.hamburger::after {
    bottom: -10px;
}

.hamburger-menu.active .hamburger {
    background-color: transparent;
}

.hamburger-menu.active .hamburger::before {
    transform-origin: top left;
    transform: rotate(45deg);
    left: 6px;
}

.hamburger-menu.active .hamburger::after {
    transform-origin: bottom left;
    transform: rotate(-45deg);
    left: 6px;
}

.hero-slide-item {
    padding-top: 44%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.hero-slide-item img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hero-slide-item-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--text-color);
    display: flex;
}

.item-content-wraper {
    padding-left: 5rem;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.item-content-wraper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.item-content-title {
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 900;
    width: 150%;
}

.movie-infos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: calc(var(--space-top) / 2);
}

.movie-info {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 600;
}

.movie-info span {
    margin-left: 5px;
}

.movie-info i {
    color: var(--main-color);
}

.movie-info ~ .movie-info {
    margin-left: 5px;
}

.item-content-description {
    font-size: 1.15rem;
    margin-top: var(--space-top);
    line-height: 1.5rem;
}

.item-action {
    margin-top: var(--space-top);
}

.carousel-nav-center {
    position: relative;
}

.carousel-nav-center .owl-nav button i {
    font-size: 3rem;
}

.carousel-nav-center .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-nav-center .owl-nav .owl-prev {
    position: absolute;
    left: 5px;
}

.carousel-nav-center .owl-nav .owl-next {
    position: absolute;
    right: 5px;
}

.owl-nav button {
    border: none;
    outline: none;
}

.owl-nav button i {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
}

.owl-nav button:hover i {
    color: var(--main-color);
}

.top-down {
    transform: translateY(-50px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.delay-2 {
    transition-delay: 0.2s;
}

.delay-4 {
    transition-delay: 0.4s;
}

.delay-6 {
    transition-delay: 0.6s;
}

.delay-8 {
    transition-delay: 0.8s;
}

.owl-item.active .top-down {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

.movie-item {
    display: block;
    position: relative;
    overflow: hidden;
    padding-top: 140%;
    cursor: pointer;
}

.movie-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s linear;
}

.movie-item:hover img {
    transform: scale(1.2);
}

.movie-item-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
}

.movie-item-content::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.movie-item-title {
    color: var(--text-color);
    font-size: 1.5rem;
    position: relative;
    font-weight: 700;
}

.section {
    padding-top: 80px;
}

.section-header {
    margin-bottom: 30px;
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    border-left: 4px solid var(--main-color);
    display: flex;
    align-items: center;
}

.pricing-header {
    margin-bottom: 30px;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.pricing-box {
    padding: 50px;
    margin: 15px 0;
    background-color: var(--box-bg);
    border-top: 5px solid transparent;
    transition: transform 0.3s ease-in-out;
}

.pricing-box:hover {
    transform: translateY(-20px);
}

.pricing-box.hightlight {
    border-top: 5px solid var(--main-color);
}

.pricing-box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
}

.pricing-price {
    font-weight: 700;
}

.pricing-price span {
    font-size: 1rem;
}

.pricing-box-content {
    text-align: center;
    margin-top: 60px;
    font-size: 1.25rem;
}

.pricing-box-action {
    text-align: center;
    margin-top: 60px;
}

footer.section {
    margin-top: 80px;
    padding-bottom: 80px;
    position: relative;
    background-color: var(--box-bg);
}

footer a:hover {
    color: var(--main-color);
}

footer a.logo {
    margin-top: -2.5rem;
    display: block;
}

footer a.logo:hover {
    color: unset;
}

.social-list {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.social-item {
    --size: 30px;
    height: var(--size);
    width: var(--size);
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: var(--text-color);
    color: var(--main-color);
}

.social-item:hover {
    background-color: var(--main-color);
    color: var(--text-color);
}

.social-item ~ .social-item {
    margin-left: 20px;
}

footer .content {
    margin-top: 20px;
}

.footer-menu {
    list-style-type: none;
}

.footer-menu a {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

.footer-menu a:hover {
    transform: translateX(5px);
}

.copyright {
    padding: 10px;
    border-top: 1px solid var(--body-bg);
    background-color: var(--box-bg);
    text-align: center;
}

/* RESPONSIVE */

@media only screen and (max-width: 1280px) {
    html {
        font-size: 14px;
    }

    .hero-slide-item {
        padding-top: 50%;
    }

    .item-content-wraper {
        width: 50%;
    }
}

@media only screen and (max-width: 850px) {
    html {
        font-size: 12px;
    }

    .container {
        padding: 0 15px;
    }

    .hero-slide-item {
        height: max-content;
        padding-top: unset;
    }

    .item-content-wraper {
        width: 100%;
        height: 100%;
        padding-bottom: 20px;
        padding-right: 5rem;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .hero-slide-item-content {
        position: relative;
    }

    .hero-slide-item img {
        height: 100%;
    }

    .item-content-title {
        font-size: 3rem;
    }

    .hamburger-menu {
        display: grid;
    }

    .nav-menu {
        /* display: none; */
        position: absolute;
        top: 100%;
        left: -100%;
        background-color: #000000;
        flex-direction: column;
        width: 80%;
        height: 100vh;
        padding: 20px;
        transition: 0.3s ease-in-out;
    }

    .nav-menu li {
        margin: 10px 30px;
    }

    .nav-menu.active {
        left: 0;
    }
}

/*Play Container */
.play-container {
    position: relative;
    min-height: 580px;
}
.play-img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}
.play-text{
    position:absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px;
    background: linear-gradient(
        8deg,
        hsl(240 17% 14% / 74%) 14%,
        hsl(240 17% 14% / 14%) 44%
    );
}
.play-text h2{
    font-size: 1.5rem;
    font-weight: 600;
}
.rating{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    color: var(--main-color);
    margin-top: 4px;
}
.tags{
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin: 1rem 0;
}
.tags span{
    background: var(--container-color);
    padding: 0 4px;
}
.play-movie{
    position: absolute;
    bottom: 18rem;
    right: 10rem;
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: var(--main-color);
    font-size: 24px;
    animation: animate 2s linear infinite;
}
@keyframes animate{
    0%{
        box-shadow: 0 0 0 0 rgb(255, 180, 58, 0.7)
    }
    40%{
        box-shadow: 0 0 0 50px rgb(255, 193, 7, 0);
    }
    80%{
        box-shadow: 0 0 0 50px rgb(255, 193, 7, 0);
    }
    100%{
        box-shadow: 0 0 0 rgb(255, 193, 7, 0);
    }
}

/* Video Container*/
.video-container{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: hsl(234 10% 20% / 60%);
    z-index: 400;
}
.video-container.show-video{
    display: flex;
}
.video-box{
    position: relative;
    width: 82%;
}
.video-box #myvideo{
    width: 100%;
    aspect-ratio: 16/9;
}
.close-video{
    position:absolute;
    top: -3rem;
    right: 0;
    font-size:40px;
    color: var(--main-color)
}

.trailer-movie{
    margin-top: 2rem;
}
.trailer-movie h2{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--main-color)
}
.trailer-movie p{
    max-width: 600px;
    font-size: 0.938rem;
    margin: 10px 0;
}

/* About Movie */
.about-movie{
    margin-top: 2rem;
}
.about-movie h2{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--main-color)
}
.about-movie p{
    max-width: 600px;
    font-size: 0.938rem;
    margin: 10px 0;
}
.cast-heading{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--main-color);
}
.cast{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
    gap: 1rem;
}
.cast-img{
    width: 150px;
    height: 180px;
    object-fit: cover;
    object-position: center;
}
/*Download*/
.download{
    max-width: 800px;
    width: 1005;
    margin: auto;
    display: grid;
    justify-content: center;
    margin-top: 2rem;
}
.download-title{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 1.6rem 0;
    color: var(--main-color);
}
.download-links{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 2rem;
}
.download-links a{
    text-align: center;
    background: var(--main-color);
    padding: 12px 24px;
    color: var(--body-color);
    letter-spacing: 1px;
    font-weight: 500;
}
.download-links a:hover{
    background: var(--hover-color)
}



